* {
    box-sizing: border-box;
    color: white;
    font-family: sans-serif
}

#top-bar {
    display: flex;
    flex-wrap: no-wrap;

}

#clear-button {
    display: flex;
    width: 21%;
    height: 100px;
    margin: 2px;
    background-color: green;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    /* border: 3px solid greenyellow; */
}

#result-space {
    display: flex;
    width: 64%;
    height: 100px;
    margin: 2px;
    background-color: green;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    /* border: 3px solid greenyellow; */
}

.number-square {
    display: flex;
    flex-wrap: wrap;

}

div.number-square>span {
    display: flex;
    width: 21%;
    height: 100px;
    margin: 2px;
    background-color: green;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    /* border: 3px solid greenyellow; */
}

.button:hover {
    background-color: aquamarine;
}