* {
    box-sizing: border-box;
}

* {
    color: white;
}

.result-bar {
    display: flex;
    flex-wrap: no-wrap;

}

span.clear-button {
    display: flex;
    width: 21%;
    height: 100px;
    margin: 2px;
    background-color: green;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    /* border: 3px solid greenyellow; */
}

span.result {
    display: flex;
    width: 64%;
    height: 100px;
    margin: 2px;
    background-color: green;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    /* border: 3px solid greenyellow; */
}

.number-square {
    display: flex;
    flex-wrap: wrap;

}

p {
    display: flex;
    width: 21%;
    height: 100px;
    margin: 2px;
    background-color: green;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    /* border: 3px solid greenyellow; */
}